 <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                                                <div class="wpb_wrapper">

                                                     <div class="vc_btn3-container vc_btn3-center">

                                                        

                                                        <a style="background-color:#00944A; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block" href="{{ path( 'mon_compte' )    }}" title="" target="_self">Mes rendez-vous</a>

                                                    </div>

                                                   <div class="vc_btn3-container vc_btn3-center">

                                                    	<a style="background-color:#00944A; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block" href="{{ path( 'front_rdv_show' )    }}" title="" target="_self"> Mes infos  personnelle   </a>


                                                    </div>

                                                     <div class="vc_btn3-container vc_btn3-center">

                                                    	

                                                    	<a style="background-color:#00944A; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block" href="{{ path( 'front_mon_profil_password' )    }}" title="" target="_self">Modifier mon Mot de passe </a>

                                                    </div>
                                                </div>
                                            </div>