{% extends 'base.html.twig' %}

{% block title %}Inscription Professionnel - {{ parent() }}{% endblock %}
{% block content %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


            
          <br/><br/><br/>
            <div id="main" class="site-main">

            <div class="container active-sidebar">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <div id="post-62" class="entry post-62 page type-page status-publish hentry">
                            <div class="entry-content">
                                <div class="vc_row wpb_row vc_row-fluid vc_custom_1456310629405">
                                    <div class="row">
                                        <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                                            <div class="wpb_wrapper">
                                                <div class="woocommerce">

                                                 
                                              

                                                    <div class="col2-set" id="customer_login">

                                                        <div class="col-3">


                                                            <h2 style="color:#00944A">Confirmation de votre inscription</h2>

                                                              
                                                         <p>

                                                            Votre inscription à bien été enregistrer , cependant , votre compte doit fait l'objet d'une verification avant que vous puissez accéder à nos services. Notre équipe vous contactera sous peu!

                                                          </p>


                                


                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .entry-content -->
                        </div>
                        <!-- #post -->
                    </div>
                    <!-- #content -->
                </div>
                <!-- #primary -->
                <div id="tertiary" class="sidebar-container" role="complementary">
                    <div class="sidebar-inner">
                        <div class="widget-area clearfix">
                            <div id="vc_widget-6" class="widget-2 widget-even widget widget_vc_widget">
                                <div class="scoped-style">
                                    <style type="text/css" data-type="vc_shortcodes-custom-css" scoped>
                                        .vc_custom_1443872752035 {
                                            margin-bottom: 0px !important;
                                        }
                                    </style>
                                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1443872752035">
                                        <div class="row">
                                            <div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12">
                                                <div class="wpb_wrapper">


                                                    <div role="form" class="wpcf7" id="wpcf7-f49-o1" lang="en-US" dir="ltr">
                                                      {{ render( controller( "FrontBundle:Default:bloc" ) ) }}
                                               

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                        <!-- .widget-area -->
                    </div>
                    <!-- .sidebar-inner -->
                </div>
                <!-- #tertiary -->
            </div>

        </div>
<br/><br/><br/>




{% endblock %} 

